body{
  font-family: "NeoSansProRegular";
	color: #5c5c5c;
	font-size: 14px;
	line-height: 1.4;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
}
a:focus {
    outline: none;
}
input, textarea {
    outline: 0;
    background: #fff;
    color: #5c5c5c;
    padding: 7px;
    display: block;
    border: 1px solid #ccc;
    box-shadow: inset 0.5px 0.5px 0.9px rgba(0,0,0,.1);
    width: 100%;
    font-size: 18px;
}

input {
    border-radius: 5px;
}
li{
	margin-bottom:5px;
}
ul {
	margin-left: 10px; /* Отступ слева в браузере IE и Opera */
	padding-left: 10px; /* Отступ слева в браузере Firefox, Safari, Chrome */
}	
							
.ico_phone_icon_bigger {
    background-position: -36px -0px;
    height: 33px;
    width: 33px;
    vertical-align: bottom;
}
.ico_phone_icon_small {
    background-position: -74px -0px;
    height: 24px;
    width: 15px;
    vertical-align: bottom;
}
.ico_envelop, .ico_phone_icon_bigger, .ico_rub, .ico_offer, .ico_phone_icon, .ico_sea, .ico_pointer, .ico_date, .ico_name {
    display: inline-block;
    background-image: url(../img/spritebox-sprite.png);
    background-repeat: no-repeat;
}
.head {
	padding-top: 15px;
}
.head--phones a.head--call--phone{
    font-size: 17px;
    text-decoration: underline;
    font-weight: normal;
    display: block;
    margin: 10px 0 0;
}
.head--phones a{
	display: inline-block;
  font-size: 20px;
  padding-left: 0;
  font-family: "NeoSansProRegular";
  color: #333333;
  text-decoration: none;
  vertical-align: top;
  position: relative;
}
.head--logo img{
    padding-top: 8px;

}
.slogan {
    padding-top: 13px;
}
.head--buttons{
	padding-top: 0px;
}
.head--button, .catalog_types--card_btn button {
    border: 2px solid #0fb3f1;
    text-transform: uppercase;
    padding: 7px 17px;
    margin-bottom: 10px;
    text-align: center;
    color: #0fb3f1;
    text-decoration: none;
	display: block;
    margin-bottom: 5px;
	cursor: pointer;
	transition: 0.1s all cubic-bezier(0.39,0.575,0.565,1);
}
.head--button:hover, .catalog_types--card_btn button:hover {
    border: 2px solid #3193ca;
    color: #3193ca;
    text-decoration: none;
}

.menu {
	background-color: #0fb3f1;
	margin-top: 15px;
    text-align: center;
}
.widget_nav_menu .menu {
    background: inherit;
    text-align: left;
}
.menu li {
	list-style-type: none;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 0;
  position: relative;
  vertical-align: middle;
}
aside li {
    list-style-type: none;
}
aside a, aside a:visited {
    color: #5c5c5c;
    text-decoration: underline;
}
.widget_nav_menu .menu li {
    margin-bottom: 5px;
    display: block;
}
.widget_nav_menu .menu li span {
    font-size: 15px;
    display: block;
    text-decoration: none;
    position: relative;
    padding: 0px;
    color: #5c5c5c;
    background-color: inherit;
}
.widget_nav_menu .menu li a {
    color: #5c5c5c;
    padding: 0;
    font-size: 14px;
        text-decoration: underline;
}
.widget_nav_menu .menu li a {
    color: #5c5c5c;
    padding: 0;
}
.catalog_types.products.columns-3 {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}
.menu li span{
  font-size: 20px;
display: block;
text-decoration: none;
position: relative;
padding: 20px 10px;
color: #ffffff;  
background-color: #3193ca;
}
.menu li a {
font-size: 20px;
display: block;
text-decoration: none;
position: relative;
padding: 20px 10px;
color: #ffffff;
}
.menu li a:hover {
  background-color: #3193ca;
}
aside ul {
    padding-left: 0;
    margin-left: 0;
}
aside .menu li a:hover {
    background: inherit;
}
.widget-title, .ur-lica {
    font-size: 16px;
    font-weight: bold;
	color: #0fb3f1;
}
.print-icon{
  max-width:25px;
  position:absolute;
  right:0;
  cursor:pointer;
}
.tinv-wraper.tinv-wishlist {
	position: absolute;
	right: 30px;
	top: 0;
}
.tinv-wishlist .tinvwl_add_to_wishlist_button.tinvwl-icon-heart::before {
	font-size: 35px;
	top: -4px !important;
	left: 0 !important;
	margin: 0 !important;
}
.sub-menu{
    display: none;
    position: absolute;
    top: 64px;
    box-sizing: border-box;
    left: -10px;
    margin-left: 0;
    z-index: 99;
}
.sub-menu li{
    width: 275px;
    background-color: #0fb3f1;
    display: block;
    margin: 0;
}
.menu li .sub-menu a{
    padding:5px;
    text-align: left;
}
.menu li:hover .sub-menu{display: block;}
.content{
	margin-bottom: 60px;
	max-width: 1500px;
}
.content--sidebar li{
	list-style-type: none;
	vertical-align: middle;
	margin: 15px 0;
}
.content--sidebar li a{
	text-decoration: none;
	color: #484848;
}
.content--sidebar li a:hover{
	text-decoration: none;
	color: #009dc5;
}
.content--sidebar_btn, .content--sidebar_btn:focus{
	margin: 0;
  font-size: 20px;
  background-color: #009dc5;
  color: #fff;
  text-align: center;
  border-radius: 0;
  padding: 6px 0;
  width: 100%;
  height: 100%;
	text-decoration: none;
}
.content--sidebar_btn:hover,
.content--sidebar_btn:not(.collapsed){
	text-decoration: none;
	background-color: #0491b5;
	color: #fff;
}
.content--sidebar .card-header{
	padding: 0;
  margin: 0;
  background: transparent;
  border: none;
}
.content--sidebar .card{
	border: none;
}
.content--sidebar .card-body{
	border: 1px solid #009dc5;
	padding: 0;
	text-align: center;
}
.card-body-main.card-body{
	border: none;
	margin-top: 60px;
}
.content--sidebar ul{
	padding: 0;
	margin: 0;
}
.content--body h1{
	font-size: 34px;
  font-style: normal;
  font-weight: normal;
  color: #333333;
  margin-top: 0;
  margin-bottom: 30px;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
}
.text_content{
	margin-bottom: 55px;
}
.social-btn {
    left: 50%;
    position: relative;
    top: -58px;
}
@media (max-width: 510px) {
.social-btn {
    left: 0;
    top: 0;
}
}
.social-btn img{
	max-width:36px;
}
.catalog_types--card{
	width: 33.3333%;
	display: block;
	float: left;
	padding: 10px;
	text-decoration: none !important;
}

.catalog_types--card_body{
	padding: 10px;
	border: 1px solid #d4d4d4;
	border-radius: 5px;
	position: relative;
	min-height: 445px;
	display: block;
	text-decoration: none !important;
}

.catalog_types--card_img img{
   /* max-width: unset;
    min-width: 100%;*/
	width: auto;
	object-fit: contain;
}
.catalog_types--card_img {
    overflow: hidden;
	max-height: 320px;
}
.catalog_types--card_title{
	display: block;
	vertical-align: top;
	color: #333333;
	font-family: "NeoSansProRegular";
	font-weight: 600;
	font-style: normal;
	padding: 13px 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 19px;
}
.catalog_types--card_cost{
	color: #333333;
}
.ico_rub {
    background-position: -0px -36px;
    height: 26px;
    width: 26px;
    margin: 0 5px;
}
.catalog_types--card_btn button{
	background-color: transparent;
	margin: auto;
  margin-top: 25px;
  margin-bottom: 15px;
}
.catalog_types--card_btn{
	position: absolute;
	width: 100%;
	left: 0;
	background-color: #fff;
	display: none;
	border-radius: 5px;
}
.catalog_types--card_body:hover{
	box-shadow: 0 0 18px rgba(0,0,0,.3);
}
.catalog_types--card_body:hover .catalog_types--card_btn{
	box-shadow: 1px 13px 18px rgba(0,0,0,.3);
	z-index: 2;
	display: block;
	border-bottom: 1px solid #d4d4d4;

}
.wviber::before {
    content: '';
    width: 16px;
    height: 16px;
    display: block;
    position: absolute;
    left: 0;
    top: 4px;
    background: url(../img/wviber.png) 0 0 no-repeat;
    background-size: 100%;
}
.wwhatsup::before {
    content: '';
    width: 16px;
    height: 16px;
    display: block;
    position: absolute;
    left: 0;
    top: 3px;
    background: url(../img/wwhatsup.png) 0 0 no-repeat;
    background-size: 100%;
}
.viber::before, .whatsup::before{
	content: '';
    width: 24px;
    height: 24px;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background-size: 100%;
}
.whatsup::before {
    background: url(../img/whatsapp.png) 0 0 no-repeat;
}
.viber::before {
    background: url(../img/viber.png) 0 0 no-repeat;
}
.footer{
	color: #fff;
	background-color: #009dc5;
	padding-top: 25px;
	padding-bottom: 25px;
	line-height: 20px;
}
.footer a{
	color: #fff;
	position: relative;
	text-decoration: underline;
	line-height: 20px;
}
.footer--tel-icons{
	padding-left: 21px;
    display: inline-block;
    margin: 3px 7px 0px 0px;
}
.head--call {
	 display: block;
    margin-top: 6px;
}
.footer--column-title{
	display: block;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
}
.footer--send_ceo, .footer--logo{
	margin: 10px 0;
}
.footer--copyright{
	text-align:center;
	margin-top: 25px;
}
.footer--buttons {
	padding-top: 125px;
}
.footer--buttons a{
	max-width: 200px;
	border: 2px solid #fff;
	text-transform: uppercase;
	padding: 7px 17px;
	text-align: center;
	color: #fff;
	text-decoration: none;
	display: block;
	cursor: pointer;
	text-decoration: none;
	margin: 15px auto;
}
.ico_pointer {
    background-position: -0px -62px;
    height: 24px;
    width: 24px;
    margin-right: 5px;
    margin-left: 0;
}
.card--place{
    margin-bottom: 15px;
}
.card--place_text{
	font-size: 16px;
    vertical-align: super;
    color: #333333;
    font-family: "NeoSansProRegular";
    font-weight: 600;
    font-style: normal;
	display: inline-block;
}
.card--short_description {
    color: #333333;    
}
.card--short_description p{
    text-align: left;
    font-size: 14px;
    text-indent: 20px;
	color: #333333;
}
.catalog_types--table{
	color: #333333;
    text-align: center;
    margin:10px 0;
}
div.images .flex-control-thumbs li {
    height: 120px;
    overflow: hidden;
    padding: 9px;
}
.single_product--price span, .single_product--price b{	
    display: inline-block;
    vertical-align: super;
}
.single_product--price, .product_meta,
.single_product--btns{
	margin-bottom: 15px;
}

.single_product--cats a{
	font-size: 14px;
    vertical-align: top;
    font-weight: 600;
    color: #333333;
    font-family: "NeoSansProRegular";
    font-style: normal;
	text-decoration: underline;
}
.single_product--cats a:hover{
	text-decoration: none;
	color: inherit;
}
.single_product--btns a {
    width: 45%;
    float: left;
    margin: 1%;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.modal--close{
    position: absolute;
    top: -18px;
    right: -18px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    z-index: 10;
	background-image: url(../img/fancybox_sprite.png);
}
.konf {
    display: flex;
    align-items: center;
	font-size: 12px;
}
.modal--custom .modal-dialog{
	max-width: 320px;
}
.modal--custom .modal-body{
	padding: 40px 25px 0px 25px;
}
.konf input {
    height: 25px;
    width: 36px;
	margin-right: 5px;
}
input[type=submit].modal--submit{
	border: 2px solid #009dc5;
    text-transform: uppercase;
    padding: 7px 17px;
    margin-bottom: 10px;
    text-align: center;
    color: #009dc5;
    text-decoration: none;
	border-radius: 0;
    background: transparent;
    max-width: 300px;
    margin: auto;
    margin-top: 25px;
	cursor: pointer;
}
input[type=submit].modal--submit:hover{
	border: 2px solid #ff854e;
    color: #ff854e;
    text-decoration: none;
}
.modal--custom-big.modal--custom .bd-example-modal-lg{
	max-width: 650px;
}
.modal--custom-big textarea{
	max-height: 110px;
}
.modal--custom-big .konf input {
    height: 15px;
    width: 26px;
    margin-right: 5px;
}
.modal--custom-big .bold{
	margin-bottom: 20px;
    font-weight: 600;
}
.contact--info a{
	color: #333333;
	text-decoration: underline;
}
.contact--info a:hover{
	color: inherit;
	text-decoration: none;
}
.contact--form{
	padding: 15px;
    background: #F6F6F6;
    max-width: 455px;
	float: right;
}
.contact--info{
	padding: 15px;
    background: #F6F6F6;
}
input.contact--submit{
    border: 2px solid #009dc5;
    text-transform: uppercase;
    padding: 7px 17px;
    margin-bottom: 10px;
    text-align: center;
    color: #009dc5;
    text-decoration: none;
    background: #fff;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}
input.contact--submit:hover{
	border: 2px solid #ff854e;
    color: #ff854e;
    text-decoration: none;
}
.contact--title{
    font-size: 36px;
    margin-top: 15px;
    margin-bottom: 20px;
}
.contact--warning{
    margin-top: 20px;
    padding: 15px;
    background: #F6F6F6;
    font-weight: 600;
}
.contact--map{
	margin-top: 25px;
}
.head--mobile_button{
	position: absolute;
    top: 20px;
    right: 25px;
	display: none;
}
.head--mobile_menu{
	width: 35%;
    position: absolute;
    right: 75px;
    top: 92px;
    z-index: 15;
    min-width: 300px;
    max-width: 400px;	
}
.head--mobile_menu ul {
	padding: 0;
    margin: 0;
}
.head--mobile_menu li {
    display: block;
    margin: 0;
    width: 100%;
}
.head--mobile_menu li a {
    padding: 11px 0px 11px 0px;
	font-size: 16px;
}
.pushy{
	padding-top: 15px;
}
.pushy-submenu-open ul {
    max-height: none;
}
.head--mobile_button button{
	background: transparent;
    border: none;
    outline: none !important;
}
section.menu.fixed{
    position: fixed;
    z-index: 10;
    top: 0;
	margin: 0;
}
section.menu.fixed ul{
	margin: 0;
}
section.menu.fixed-admin{
	margin-top: 25px;
}
section.head.head--custom_margin{
	margin-bottom: 94px;
}
.menu li.menu-item-169{
	display:none;
}
.menu.fixed .menu-item-169{
	display: inline-block;
}
.menu.fixed .menu-item-169 a{
	margin-right: -20px;
    margin-left: 20px;
}
.menu.fixed .menu-item-169 a:hover {
    background: initial !important;
}
.card--item_filter{
	margin: 10px 0 10px 0px;
    text-align: left;
    padding: 0 0 0 25px;
}
.card--item_filter input{
    width: 14px;
    display: inline-block;
    vertical-align: bottom;
    height: 15px;
	cursor: pointer;
}
.card--item_filter label{
	margin: 0;
    cursor: pointer;
	display: inline;
	font-size: .9rem;
}
.card--item_filter-range{
	padding: 0;
    text-align: center;
	margin-bottom: 20px;
}
#amount{
    font-weight: bold;
    width: 100%;
    border: none;
    outline: none;
    box-shadow: none;
    text-align: center;
	font-size: 15px;
}
#slider-range{
	max-width: 85%;
    margin: auto;
	height: 4px;
}
#slider-range .ui-state-active, 
#slider-range .ui-widget-content .ui-state-active, 
#slider-range.ui-widget-header .ui-state-active, 
#slider-range a.ui-button:active, 
#slider-range .ui-button:active, 
#slider-range .ui-button.ui-state-active:hover{
	border: 1px solid #0491b5;
    background: #009dc5;	
}
#slider-range .ui-state-default,
#slider-range .ui-widget-content .ui-state-default,
#slider-range .ui-widget-header .ui-state-default,
#slider-range .ui-button,
html #slider-range .ui-button.ui-state-disabled:hover,
html #slider-range .ui-button.ui-state-disabled:active{
	border-radius: 12px;
    outline: none;
}
#slider-range.ui-slider-horizontal .ui-slider-handle {
    top: -.5em;
    margin-left: -.6em;
}

#slider-range.ui-slider-horizontal .ui-slider-range {
    background-color: rgb(0, 157, 197);
}
.head a.head--tel-icons{
	padding-left: 28px;
    font-size: 17px;
    display: inline-block;
    margin: 10px 0px 0px 8px;
}
.head--phones{
	text-align: center;
}
.woocommerce-Tabs-panel--description td {
    border: 1px solid #ccc;
    text-align: center;
    padding: 5px 0px;
}
.woocommerce-Tabs-panel--description p img{
	margin-bottom: 25px;
}
.breadcrumbs{
	margin: 10px 0px 18px 0px;
}
.breadcrumbs a{
	color: #0FB3F1;
}
.block-after-cat{
	margin-top: 25px;
}
.woocommerce div.product div.images .flex-control-thumbs li {width:19%;margin-left:1.25%;padding-left:0;padding-right:0;}
.woocommerce div.product div.images .flex-control-thumbs li:first-child {margin-left:0;}
/*resp*/
.price-link {
    text-align: center;
    position: relative;
    top:-25px;
}
.price-link a {
    color:#0FB3F1;
}
.add-review-form {
    width: 50%;
    margin: 50px auto;
}
@media (max-width: 650px) {
    .add-review-form {
        width: 100%;
    }
}
.add-review-form input[type="submit"] {
    border: 2px solid #009dc5;
    text-transform: uppercase;
    padding: 7px 17px;
    margin-bottom: 10px;
    text-align: center;
    color: #009dc5;
    text-decoration: none;
    border-radius: 0;
    background: transparent;
    margin: auto;
    margin-top: 25px;
    cursor: pointer;
}
.add-review-form input[type="submit"]:hover {
    border: 2px solid #ff854e;
    color: #ff854e;
    text-decoration: none;
}
@media (min-width: 992px) {
	.clearfix-catalog::after {
		content: "";
		display: table;
		clear: both;
	}
}

@media (max-width: 1088px) {
	.card--item_filter label{
		font-size: .7rem;
	}
}
@media (max-width: 992px) {
	.head--buttons{
		margin-top: 25px;
	}
	section.menu, .content--sidebar{
		display:none;
	}
	.content--body{
		margin-top: 25px;
	}
	.contact--warning {
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.head--mobile_button{
		display: block;
	}
}
@media (max-width: 767px) {
	.head--phones{
	    margin-top: 15px;
		text-align: right;
	}
	.catalog_types--card {
		width: 50%;
	}
	.footer--column{
		order: 1;
		padding-top: 0;
	}
	.footer--column{
		order: 2;
	}
	.footer--contacts{
		order: 3;
		margin-top: 15px;
	}
	.footer--buttons a{
		margin-top: 0;
		max-width: 100%;
	}
	.modal--custom .modal-dialog{
		margin: auto;
		margin-top: 15px;
	}
}

@media (max-width: 575px) {
	.catalog_types--card {
		width: 100%;
	}
	.head--button{
		margin: auto;
		margin-bottom: 18px;
		max-width: 330px;
	}
}

@media (max-width: 444px) {
	.catalog_types--card {
		width: 100%;
	}
}
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
    margin: 2.85rem auto 1.75rem;
}  
}
